{{message}}
<form class="form-wrapper" (submit)="onSearchLocation(address.value)">
    <input type="text" class="search" placeholder="Search for address..." required #address /><br>
    <button type='submit' id="submit">Search</button>
</form>

<table class="table table-responsive table-condensed">
  <th><b>Address</b></th>
  <th><b>Longitude</b></th>
  <th><b>Latitude</b></th>
  <tr *ngFor="let searchedLocation of searchedLocations">
    <td>{{searchedLocation.address}}</td>
    <td>{{searchedLocation.lng}}</td>
    <td>{{searchedLocation.lat}}</td>
  </tr>
</table>
